.touch {
    background: url('/touch-bg.png') no-repeat center center / cover;
    height: 100%;
}
.touch_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 35px;
    
}
.touch_title {
font-weight: 700;
font-size: 30px;
line-height: 120%;
letter-spacing: 0.15px;
text-align: center;
color: #48555b;
}
.touch_btn {
font-weight: 700;
font-size: 13px;
letter-spacing: 0.0;
text-align: center;
color: #fff;
background-color: #00a4e5;
padding: 11px 29px;
border-radius: none;
cursor: pointer;
white-space: nowrap;
transition: all 0.3s ease;
}

.touch_btn:hover {
    background-color: #026991;
}