.header {
    padding: 24px 0;
    position: relative;
}

.header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo-img {
    width: 102px;
    height: 23px;
}

.header__nav-list {
    display: flex;
    align-items: center;
    gap: 48px;
}

.header__nav-link {
    font-size: 14px;
    font-weight: 600;
    color: #48555b;
    letter-spacing: 1, 09px;
}

.header__nav-link:hover {
    color: #00a4e5;
    transition: color 0.3s ease;
}

.header__mobile-btn {
    border: none;
    background-color: transparent;
    z-index: 1002;
    cursor: pointer;
}

.close {
    color: #fff;
}

.menu {
    color: #000;
}

.header__mobile {
    display: none;
}

/* Planshet va kichik ekranlar */
@media (max-width: 768px) {
    .header__nav {
        display: none;
    }

    .header__mobile {
        display: block;
    }

    .header__mobile-nav {
        position: absolute;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100%;
        background-color: #111;
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        transform: translateY(-100%);
        opacity: 0;
        transition: all 0.4s ease;
        z-index: 1001;
    }

    .header__mobile-nav.active {
        transform: translateY(0);
        opacity: 1;
    }

    .header__mobile-list {
        display: flex;
        flex-direction: column;
        gap: 32px;
    }

    .header__mobile-link {
        font-size: 14px;
        font-weight: 600;
        color: #fff;
        text-transform: uppercase;
        letter-spacing: 1.5px;
        transition: color 0.3s ease;
    }

    .header__mobile-link:hover {
        color: #00a4e5;
    }

    .header__mobile-btn {
        position: absolute;
        top: 24px;
        right: 16px;
    }
}
