.footer {
    padding: 42px 0 40px;
    background-color: #141a20;
}

.footer__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: start;
}

.footer__info {
    max-width: 250px;
    width: 100%;
}

.footer__subtitle {
    font-weight: 400;
    font-size: 11px;
    letter-spacing: 0.08em;
    color: #fff;
    margin-bottom: 19px;
}

.footer__desc {
    font-weight: 400;
    font-size: 11px;
    letter-spacing: 0.85px;
    color: #fff;
    margin-top: 15px;
}

.footer__links {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 34px;
}

.footer__link {
    font-weight: 600;
    font-size: 11px;
    line-height: 227%;
    letter-spacing: 0.08em;
    color: #fff;
}

.footer__link:hover {
    text-decoration: underline;
}

.footer__contact {
    max-width: 141px;
    width: 100%;
}

.footer__addres,
.footer__tel,
.footer__email {
    display: block;
    font-weight: 400;
    font-size: 11px;
    line-height: 145%;
    letter-spacing: 0.85px;
    color: #fff;
    font-style: normal;
}

.footer__tel:hover,
.footer__email:hover {
    text-decoration: underline;
}

.footer__inner {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer__social {
    gap: 24px;
    display: flex;
    align-items: center;
}

.footer__social-item {
    color: white;
}

.footer__bottom {
    background-color: #171819;
    padding: 22px 0;
}

.footer__copy {
    font-weight: 400;
    font-size: 11px;
    letter-spacing: 0.85px;
    color: #fff;
    text-align: center;
}

@media (max-width: 768px) {
    .footer__wrapper {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 40px;
    }
}

@media (max-width: 425px) {
    .footer__wrapper {
        grid-template-columns: 1fr;
        gap: 10px;
    }
    .footer__links {
        grid-template-columns: 1fr;
        gap: 10px;
    }
}
